.taskbox-items-container {
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth; /* makes scrollTop smooth https://github.com/rstacruz/jquery.transit/issues/216 */
}

.taskbox-items-container ul.taskbox-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.taskbox-items-container li {
  padding: 0.5rem 1rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.li-content p {
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  word-break: break-word;
  color: #212121;
}

.li-icon .icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff5722;
  transition: all 0.2s;
}

.li-icon .icon:hover {
  background-color: #e64a19;
}

.icon svg {
  transition: all 0.2s;
}

.icon:hover svg {
  color: #e2e2e2;
}
