body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#navigation-label {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-menu {
  position: absolute;
  top: 0;
  left: -10rem;
  height: 100%;
  width: 10rem;
  background-color: red;
  transition: ease left 0.5s;
}

.navigation-visible {
  left: 0;
}
